@{
    ViewBag.Title = "Collections";
}
<head>
    <script src="~/Scripts/collections.js"></script>
</head>
<br />
<div style="position:fixed; top:40%; left: 42%;">
    <p style="text-align:center; font-size: 35px; font-weight:600;" id="waitMessage">
        Loading...
    </p>
    <div id="loader" class="loaderLarge"><img src="~/Content/l10s.svg"></div> <!-- Loading animation -->
</div>
<div id="tableDiv"></div> <!-- Currently holds Collections - Overview -->
<br />
<div> <!-- These two divs hold collection notifications & colletion changes tables -->
    <div id="innerLeft" style="width:25%; float:left"></div>
    <div id="innerRight" style="width:70%; float:right"></div>
</div>